
body{background-color:#000;}.body-fauxcolumn-outer .cap-top{background-color:#000;}.main-inner .columns {background-color:#000;}#PopularPosts2,HTML21{display:none;}.content-inner{background-color:rgba(0,0,0,0);}.post{background-color:rgba(0,0,0,0);color:#E1E1E1;}.content,.post-footer{/*label container*/background-color:#000;}.post-outer{background-color: rgba(0,0,0,0);}
 body{background:#000;}.body-fauxcolumn-outer .cap-top{background:#000;}.content-outer{background:#000;}
.content{background:rgba(0,0,0,0);}body.loading mobile{background:#000;}.shareaholic-total-share-count,.shareaholic-shares-label{color:#fff;}.date-header span{color:#fff;} span.guestauthor{color:#fff;}
#couchToolbar_Close{background-position:0px 0px;display:block;}#couchmode{display:none;}
#mreadmode{-webkit-filter: invert(100%);filter: invert(100%);}
.columns-inner,
.column-center-outer,
.column-center-inner,
.main section,#main,
.widget BlogArchive,#BlogArchive3,
.widget Blog,#Blog1,
.blog-posts hfeed,
.mobile-date-outer date-outer,
  .mobile-post-outer{background-color:#000;}
#pocontents,.post{color:#B4B4B4;}
.post-body{background-color:#000;}
#notwbann{text-align:left;}
