
body{backgroud-color:red;}.body-fauxcolumn-outer .cap-top,.main-inner .columns {background-color:blue;} #HTML4,#PopularPosts2{display:none;}.content-inner{backgroud-color:yellow;}.post{backgroud-color:orange;}.post-footer{/*label container*/background-color:brown;}.main-inner .columns {background-color:yellow;}
 
