#subscription-box,#header,.sidebar,footer,#facebooklike,.fschgerpadding,#dateholder,#comments,#nextprev,.ftrstylbkd{display:none;}.fauxcolumn-inner{position:relative;top:60px;}.post{width:1080px;}


#couchToolbar,#couchToolbar_Close{z-index:999;position:float;font-size:.9em;}#couchToolbar a{text-decoration:none;text-align:center;color:#fff;margin:0 .2em;font-size:18px;padding:7px;}#couchToolbar:hover{opacity:1.0;}#couchToolbar{opacity:0.4;background:#7092BE;font-size:.9em;display:block;position:fixed;top:0;left:90px;margin:0 4em 0 0;padding:.4em;}#couchToolbar_Close{background-position:0px 0px;display:block;font-size:242px;}#couchmode{display:none;}

.fauxborder-left{position:relative;top:50px;}
.post img{left:15px;position:relative;}
.column-center-inner,.columns-inner,.column-center-outer,{width:100%;}
h3{text-align: center;float:center;}
@media all and  (max-width:1280px) {.post,.content-inner{width:1100px;}}
@media all and  (max-width:1200px) {.post,.content-inner{width:1116px;}}
@media all and  (max-width:1100px) {.post,.content-inner{width:900px;}}
@media all and  (max-width:900px) {body,.post,.content-inner{width:800px;}}
@media all and  (max-width:800px) {body,.post,.content-inner{width:720px;background:#fff;}.post img{width:100%;height:auto;left:15px;}}
@media all and  (max-width:700px) {body,.post,.content-inner{width:580px;}.post img{width:100%;height:auto;left:-15px;}}
@media all and  (max-width:600px) {.post,.content-inner{width:470px;}.post img{width:100%;height:auto;left:-15px;}}
@media all and  (max-width:500px) {.post,.content-inner{width:400px;}.post img{width:100%;height:auto;left:-15px;}}
@media all and  (max-width:400px) {.post,.content-inner{width:320px;}.post img{width:100%;height:auto;left:-15px;}}
